In [1]:
import pandas as pd
import numpy as np
import requests
import pickle

In [8]:
titanic = pd.read_csv("Data/titanic_data.csv")
#df1

In [9]:
crime = pd.read_excel("Data/crime.xls",skiprows=3,nrows=20)
#df2.head(3)

In [12]:
markers = pd.read_json("Data/markers.json")
#markers

In [13]:
markers[["lat","long"]] = pd.DataFrame(zip(*markers.position)).T
markers

            name                       position      lat     long
0  Grocery Store             [25.1212, 53.1535]  25.1212  53.1535
1    Gas Station  [12.3456, 5.2719000000000005]  12.3456   5.2719
2     Disneyland              [4.8765, 17.3273]   4.8765  17.3273

In [15]:
del markers["position"]; markers

            name      lat     long
0  Grocery Store  25.1212  53.1535
1    Gas Station  12.3456   5.2719
2     Disneyland   4.8765  17.3273

In [18]:
json_req = requests.get("https://jsonplaceholder.typicode.com/users").json()
#json_req

In [21]:
json_req_dt = pd.json_normalize(json_req)
#json_req_dt

In [25]:
for i, df in enumerate([titanic,crime, markers, json_req_dt]):
    df.to_csv(f"./Data/{i}.csv")
    df.to_excel(f"./Data/{i}.xlsx")
    df.to_json(f"./Data/{i}.json")

In [26]:
for i, df in enumerate([titanic,crime, markers, json_req_dt]):
    with open(f"./Data/{i}.pickle", "wb") as f:
        pickle.dump(df,f, protocol=5)

In [27]:
for i, df in enumerate([titanic,crime, markers, json_req_dt]):
    with open(f"./Data/{i}.pickle", "rb") as f:
        print(pickle.load(f).shape)

(891, 12)
(20, 22)
(3, 3)
(10, 15)